<!doctype html>
<html>
<head>
    <title>Students and form groups</title>
    <!-- include css file from Task 4.3 -->
    <link href="static/style.css" rel="stylesheet">
</head>

<body>
    <h1>Students and form groups</h1>
    <h2>Find form groups</h2>
    
    <!-- form isn't necessary for Task 4.4, but needed for Task 4.5 -->
    <form action="/process_form/" method="POST">
        <p>Enter form group ID: <input name="formgroup"></p>
        <p><input type="submit"></p>
    </form>
</body>
</html>